.qty-ch{
    margin-left:1vw;
    margin-right:1vw;
}
.product-img{
    object-fit:contain;
    width:100%;
    height:200px;
}
.cart-img{
    object-fit:contain;
    width:100%;
    height:100px;
}
td{
    height:auto;
    vertical-align: middle;
}